<div class="card-footer">
  <form
    class="card-footer-item p-0"
    action="/admin/edit-product/<%= uuid %>"
    method="get"
  >
    <a
      class="card-footer-item"
      role="button"
      type="submit"
      onclick="this.parentElement.submit()"
      >Edit</a
    >
  </form>
  <form
    class="card-footer-item p-0"
    action="/delete-product/<%= uuid %>"
    method="post"
  >
    <a
      class="card-footer-item"
      role="button"
      type="submit"
      onclick="this.parentElement.submit()"
      >Delete</a
    >
  </form>
</div>
