<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bulma.min.css" />
    <title>Document</title>
  </head>
  <body class="has-navbar-fixed-top">
    <div class="container">
      <nav class="navbar is-fixed-top is-primary">
        <div class="container">
          <div class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item is-tab is-active" href="/">Shop</a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link navbar-item">Admin</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item is-active" href="/admin/add-product"
                    >Add product</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <section class="section box mt-6">
        <div class="column is-full">
          <h1 class="title is-4">My products</h1>
        </div>
        <div class="column is-half mt-6">
          <nav class="panel">
            <p class="panel-heading">List of products</p>
            <a class="panel-block" href="/">Product1</a>
            <a class="panel-block" href="/">Product2</a>
          </nav>
        </div>
      </section>
    </div>
  </body>
</html>
